@import 'bootstrap/dist/css/bootstrap.min.css';

/* customizing scrollbar  */

::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 34);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(10, 0, 145);
}

/* customizing scrollbar ends here */

body {
  background: #1f2745;
}

.navbar-toggler {
  background: #0d6efd;
}

.top-locations-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.top-location-card {
  width: 100%;
  /* padding: 1rem; */
}

/* weather.js  */
.weather-container {
  background-color: #383883;
}

.weather-headline-left .temp {
  font-size: 3rem;
}

.weather-headline-left .condition {
  font-weight: bold;
  font-size: 1.5rem;
}

.top-location-card {
  border: none;
}

.top-location-card img {
  height: 250px;
}

.weather-headline-right img {
  width: 100px;
}

/* quick-forecast-container  */
.quick-forecast-container {
  color: white;
  /* background: rgb(135, 227, 255); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  overflow-x: scroll;
  padding-bottom: 0.5rem;
}

.quick-forecast-box {
  background: #1f2745;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.2rem;
  margin: 0 0.5rem;
  min-width: 150px;
}

/* current weather details  */
.current-weather-details-container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-weather-details-container-left,
.current-weather-details-container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem;
}

.current-details-box {
  background: #1f2745;
  border-radius: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid gray;
}

.sunrise-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* hourly forecast box  */
.hourly-forecast-container {
  color: white;
  /* background: rgb(135, 227, 255); */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.1rem;
  overflow-x: scroll;
}

.hourly-forecast-box {
  cursor: pointer;
  background: #1f2745;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  margin: 0 0.2rem;
  min-width: 130px;
}

.hourly-forecast-box h6 {
  font-size: 0.8rem;
}

.hourly-forecast-box h5 {
  font-size: 1rem;
}

.hourly-forecast-box img {
  width: 50px;
}

/* modal  */
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background-color: #383883;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourly-weather-details-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.hourly-details-box {
  text-align: center;
}

/* media quaries  */
@media only screen and (max-width: 1024px) {
  .top-locations-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .current-weather-details-container {
    flex-direction: column;
  }

  .current-weather-details-container-left,
  .current-weather-details-container-right {
    width: 100%;
  }
  .hourly-weather-details-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .top-locations-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .weather-headline-left h1 {
    font-size: 2rem;
  }

  .fa-3x {
    width: 50px;
    height: 50px;
  }
  .hourly-weather-details-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .weather-headline-right img {
    width: 80px;
  }
}