@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background: #1f2745;
}

.navbar-toggler {
  background: #0d6efd;
}

.top-locations-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.top-location-card {
  width: 100%;
  /* padding: 1rem; */
}

/* weather.js  */
.weather-container {
  background-color: #383883;
}

.weather-headline-left .temp {
  font-size: 3rem;
}
.weather-headline-left .condition {
  font-weight: bold;
  font-size: 1.5rem;
}

.top-location-card {
  border: none;
}
.top-location-card img {
  height: 250px;
}

.weather-headline-right img {
  width: 100px;
}

/* quick-forecast-container  */
.quick-forecast-container {
  color: white;
  /* background: rgb(135, 227, 255); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  overflow-x: scroll;
  padding-bottom: 0.5rem;
}

.quick-forecast-box {
  background: #1f2745;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.2rem;
  margin: 0 0.5rem;
  width: 150px;
}

/* media quaries  */
@media only screen and (max-width: 1024px) {
  .top-locations-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 425px) {
  .top-locations-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .weather-headline-left h1 {
    font-size: 2rem;
  }
  .fa-3x {
    width: 50px;
    height: 50px;
  }
}